<div class='content'>
    <div class='chapter'>
        <div class='title'>
            Directory Settings
        </div>
        <div class='content'>
            <div class='paragraph'>
                <ul>
                    <li>Directory: {name}</li>
                    <li>Full Path: /{name}</li>
                </ul>
            </div>
            <div class='section'>
                <div class='title'>
                    Create
                </div>
                <div class='content form'>
                    <div>
                        <input type='text' placeholder='New Directory'/><div class='button'>Create Directory</div>
                    </div>
                    <div>
                        <input type='text' placeholder='New File'/><div class='button'>Create File</div>
                    </div>
                </div>
            </div>
            
            <div class='section'>
                <div class='title'>
                    Destroy
                </div>
                <div class='content'>
                    <button>Delete</button>    
                </div>
            </div>

        </div>
    </div>
</div>

