<div class='page'>
    <div class='chapter'>
        <div class='title'>
            Directory Settings
        </div>
        <div class='chapter-content'>
            <div class='paragraph'>
                <ul>
                    <li>Directory: {file.name}</li>
                    <li>Full Path: /{file.name}</li>
                </ul>
            </div>
            <div class='section'>
                <div class='title'>
                    Create
                </div>
                <div class='section-content form'>
                    <div class='field horizontal-layout'>
                        <input type='text' placeholder='New Directory' class='fill' rv-value="inputs.directory" />
                        <div rv-on-click='createDirectory' class='button content'>Create Directory</div>
                    </div>
                    <div class='field horizontal-layout'>
                        <input type='text' placeholder='New File' class='fill' rv-value="inputs.file" />
                        <div rv-on-click='createFile' class='button content'>Create File</div>
                    </div>
                </div>
            </div>
            
            <div class='section'>
                <div class='title'>
                    Destroy
                </div>
                <div class='section-content'>
                    <button rv-on-click='removeDirectory' >Delete</button>    
                </div>
            </div>

        </div>
    </div>
</div>

