html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
}

.vertical-layout {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.vertical-layout .content {
    flex: 0 1 auto;
}

.vertical-layout .fill {
  flex: 1 1 auto;
}

.horizontal-layout {
    display: flex;
    flex-flow: row;
    height: 100%;
}


.horizontal-layout .content {
    flex: 0 1 auto;
}

.horizontal-layout .fill {
  flex: 1 1 auto;
}


.file-tree {
    width: 20%;
    max-width: 11em;
    box-sizing: border-box;
    padding: 0.2em;
    padding-top: 0.5em;
    font-size: 1.3em;
    background-color: #f7c35e;
    color: #6b4e2e;
}

.file-tree .container {
    padding: 0.2em;
}

.file-tree .typcn {
    font-size: 1.4em;
}

.file-tree .directory {
    padding-left: 0.7em;
}

.file-tree .name:hover {
    background-color: #6b4e2e;
    color: #f7c35e;
}

.file-tree .name .create {
    max-height: 0;
    overflow: hidden;
}

.file-tree .name .hover {
    display: none;
}

.file-tree .name:hover .hover {
    display: inline;
}


.file-tree .name .show.create {
    max-height: 5em;
}

.name .open {
    color: green;
}

.create {
    -webkit-transition: max-height 1s;
    -o-transition: max-height 1s;
	-moz-transition: max-height 1s;
	transition: max-height 1s;
}

.create .containter {
    padding: 0.5em;
    border-top: 1px dashed  #f7c35e;
}

.create .item {
    height: 1.5em;
}
.create input {
    width: 100%;
    padding: 0.5em;
}

.main-menu {
    width: 100%;
    background-color: #43b3c9;
    -moz-box-shadow: 0 4px 4px -2px #1a797f;
    -webkit-box-shadow: 0 4px 4px -2px #1a797f;
    box-shadow: 0 4px 4px -2px #1a797f;
    color: #f7c35e;
    z-index: 100;
    box-sizing: border-box;
}

.main-menu .text {
    padding: 0.5em;
    font-size: 1.2em;
}


#editor {
    padding: 0.5em;
    width: 100%;
    height: 100%;
    font-family: 'Handlee', cursive;
    font-weight: 400;
    color: #137286;
    font-size: 1.2em;
    border: 0px;
}

.code {
    font-family: 'Handlee', cursive;
}

