<div class="directory"><div class="name" rv-on-click="open"><div><span rv-attr-class="icon"></span> {name} <span class="hover typcn typcn-spanner" rv-on-click="showSettings"></span></div><!--
        <div
            class='create'
            rv-class-show='settings'
        >
            <div class='container' rv-if='childs'>
                <div class='horizontal-layout item' >
                    <span class="typcn typcn-document-text"></span>
                    <input type='text' placeholder='New File'/>
                </div>
            </div>
        </div>
--></div><div rv-filetree="childs"></div></div>